/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12 dec. 2021, 22:45:50
    Author     : Maarten
*/


#myCharacters {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

#myCharacters p {
    width: 30%;
    display: inline-block;
    text-align: center;
}

#myCharacters input {
    background: rgb(156, 122, 96, 0.4);
    border: hidden;
    text-align: right;
    display: inline-block;
    border-radius: 4px;
}

#myCharacters button {
    width: 30%;
    background-color: #202110;
    border: none;
    color:#E6D0BE;
    cursor: pointer;
    border-radius: 4px;
} 